body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #E6DAC3 , #C9E4CA , #87CEEB )
}

.container{
    width: 350px;
    height: 500px;
    background-color: skyblue;
    overflow: hidden;
    background: url(static/car_small.jpg) no-repeat center / cover; 
    border-radius: 10px;
    box-shadow: 5px 20px 50px black;
}

#checkbox{
    display: none;
}